@use "../abstracts/palette";
@use '../abstracts/mixins';

.cart-button {
  height: 100%;
  width: 100%;
  // background-color: rgba(#FFF,0.21);
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    .cart-button__icon {
      &-black {
        display: block;
      }
      &-white {
        display: none;
      }
    }
    @media (min-width: 992px) {
      // & ~ .cart-window {
      //   opacity: 0.75;
      //   pointer-events: all;
      // }
    }
  }

  &__icon {
    &-black {
      display: none;
    }
    &-black path,
    &-white path {
      // fill: palette.$oxford-blue;
      fill: white;
    }
  }

  &__bubble {
    position: absolute;
    @include mixins.display-flex();

    width: 1.2rem;
    height: 1.2rem;
    // padding: 0.25rem;
    font-size: 0.6rem;
    top: -0.6rem;
    right: -0.6rem;
    border-radius: 50%;
    background-color: white;
    color: palette.$ultramarine-blue;
  }
}
