@use '../abstracts/palette';

.hamburger-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 2em;
    height: 2em;
    // background-color: #222;
    border-radius: .2em;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 4px;
    

    &:hover {
        // background-color: palette.$baby-blue-eyes;
    }

    &__top-bread {
        border-radius: .2em;
        display: block;
        width: 80%;
        flex-basis: 6%;
        background-color: palette.$oxford-blue;
        transition: transform 0.5s;
        transform: rotateZ(0deg);
        transform-origin: top left;
    }

    &__meat {
        border-radius: .2em;
        display: block;
        width: 80%;
        flex-basis: 6%;
        background-color: palette.$oxford-blue;
        transition: transform 0.5s;
        transform: scale(1);
    }

    &__bottom-bread {
        border-radius: .2em;
        display: block;
        width: 80%;
        flex-basis: 6%;
        background-color: palette.$oxford-blue;
        transform: rotateZ(0deg);
        transition: transform 0.5s;
        transform-origin: bottom left;
    }
}