@use "../abstracts/palette";

.id-form {
  display: flex;
  flex-direction: column;
  // flex-direction: row;
  // flex-wrap: wrap;
  gap: 1.7em;
  // background-color: palette.$oxford-blue;
  background-color: palette.$baby-blue-eyes;
  // color: white;
  color: palette.$oxford-blue;

  box-shadow: palette.$oxford-blue 0px 15px 20px -8px;
  max-width: 550px;
  border-radius: 1em;
  width: 95%;
  max-height: 0;
  overflow: hidden;
  transition: padding 0.5s, max-height 0.5s;

  &__title {
    text-align: center;
  }

  &__group {
    // align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.7em;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
    }
  }

  &__toggle-checkbox {
    display: none;
    &:checked {
      & ~ .id-form {
        padding: 1em;
        max-height: 125px;
        &__toggle-label::before {
          content: "Ocultar formulario ID";
        }
      }
      & ~ .main-form {
        .input-group--id {
          padding: 5px;
          max-height: 150px;
        }
      }
    }
  }
  &__toggle-label {
    margin: auto;
    &::before {
      content: "Buscar por ID";
    }
  }
}
