@use "../abstracts/variables";

.listing {
  padding: 2rem 0;
  position: relative;
  &__wrapper {
    max-width: variables.$max-width;
    width: 100%;
    margin: auto;
    padding: 0 calc(0.75rem + 1vw);
    display: flex;
  }

  &__products {
    &-container {
      position: relative;
      padding: 0 0.75rem;
      flex: 1 0 83%;
    }
    &-header {
      margin-bottom: 1rem;
    }
  }

  &__empty {
    font-size: calc(1rem + 1vw);
    padding: 2rem 0;
    text-align: center;
    width: 100%;
  }
}
