@use '../abstracts/palette';

.main-nav {
    background-color: #222;
    background-color: palette.$baby-blue-eyes;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-bottom-right-radius: 10px;
    height: 100%;
    width: 75%;
    overflow-y: auto;
    @media (min-width: 992px) {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        
    }

    

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        gap: 10px;
        flex-direction: column;

        @media (min-width: 768px) {
        }
        @media (min-width: 992px) {
            flex-direction: row;
            height: 100%;
            justify-content: space-around;
            
        }
    }

    &__item {
        // background-color: magenta;
        text-align: center;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;

        @media (min-width: 992px) {
            height: 100%;
        }
    }
    
    &__link {
        display: flex;
        align-items: center;
        width: 75%;
        height:75%;
        // width: 100%;
        // padding: 1em .7em;
        
        text-decoration: none;
        justify-content: flex-start;
        gap: 10px;
        color: palette.$oxford-blue;
        border: 2px solid transparent;
        border-bottom: palette.$oxford-blue 2px solid;
        padding-left: 10px;
        transition: border 0.2s;
        &:hover,
        &:focus {
            outline: none;
            border-radius: 10px;
            border: palette.$oxford-blue 2px solid;
        }

        &:visited {
            // color: initial;
        }

        @media (min-width:992px) {
            // padding-left: 1em;
            // padding-right: 1em;
            border: none;
            // color: palette.$oxford-blue;
            color: white;
            // font-size: 1.5em;
            font-weight: 500;
            padding: 4px 8px;
            border-radius: 10px;
            justify-content: center;
            height:50%;
            // width: 4em;
            
            &:hover,
            &:focus {
                background-color: palette.$baby-blue-eyes;
                border: none;
                color: palette.$oxford-blue;

                path, 
                rect, 
                line {
                    filter: invert(1);
                }
            }
        }

        @media (min-width: 1440px) {
            width: 100%;
            gap: 5px;
        }

        &-text{
            text-transform: uppercase;
            font-size: 1.3em;
            @media (min-width: 992px) {
                font-size: 1em;
                text-transform: none;
            }
            @media (min-width: 1440px) {
                display: block;
            }

        }
        &-icon {
            flex-shrink: 0;
            flex-basis: 1.5em;
            height: 1.5em;

            @media (min-width: 992px) {
                display: none;
            }

            @media (min-width: 1440px) {
                display: block;
                flex-basis: 1.5em;
            height: 1.5em;

            }
            svg {
                width: 100%;
                height: 100%;
                
                rect {
                    // color: white;
                    fill: white;
                    stroke: palette.$oxford-blue;
                }
                path {
                    fill: palette.$oxford-blue;
                    stroke: palette.$blue-crayola;
                }
                line {
                    stroke: palette.$oxford-blue;
                }

                @media (min-width: 1440px) {
                    rect {
                        // color: white;
                        fill: palette.$oxford-blue;
                        stroke: white;
                    }
                    path {
                        fill: white;
                        stroke: palette.$pacific-blue;
                    }
                    line {
                        stroke: white;
                    }
                }
            }
            // filter: invert(1) red;
            // mask: none;
            // position: relative;
            // z-index: 5;
            // mask-image: url(../img/nav-home.svg);
            // mask-repeat: no-repeat;
            // mask-position: center;
            // background-color: red;
            // mask-image: url(../img/nav-home.svg);
            &--contacto {
                svg {
                    rect {
                        // color: white;
                        fill: palette.$oxford-blue;
                        stroke: palette.$blue-crayola;
                    }
                    path {
                        fill: palette.$oxford-blue;
                        stroke: palette.$blue-crayola;
                    }
                    line {
                        stroke: palette.$blue-crayola;
                    }
                    @media (min-width: 1440px) {
                        rect {
                            // color: white;
                            fill: white;
                            stroke: palette.$blue-crayola;
                        }
                        path {
                            fill: white;
                            stroke: palette.$blue-crayola;
                        }
                        line {
                            stroke: palette.$blue-crayola;
                        }
                    }
                }
            }
        }

    }

}
