@use '../abstracts/palette';

.main-nav {
    background-color: #222;
    background-color: palette.$baby-blue-eyes;
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__item {
        // background-color: magenta;
        text-align: center;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__link {
        display: flex;
        align-items: center;
        width: 75%;
        height:75%;
        // width: 100%;
        // padding: 1em .7em;
        font-size: 1.2em;
        text-decoration: none;
        justify-content: center;
        border-bottom: palette.$oxford-blue 2px solid;

        &:hover,
        &:focus {
            outline: none;
        }

        &:visited {
            color: initial;
        }

        @media (min-width:1024px) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }

}
