@use '../abstracts/palette';

$svg-size: 30px;
$svg-padding: 0.2em;

.main-header {
    max-width: 100%;
    background-color: palette.$blue-crayola;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    width: 100%;

    &__buttons-wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 60px;
        gap: 8px;
        justify-content: center;
        align-items: center;
        padding: 0 8px 0 2px;
        position: relative;
        color: palette.$oxford-blue;
    }

    &__message-container {
        flex-basis: 100%;
    }

    &__promo {
        &s-container {
            padding: 0.4em;
            display: flex;
            flex-direction: column;
            background-color: palette.$ultramarine-blue;
        }
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--envio {
            background-color:palette.$oxford-blue;
            color: white;
        }
    }

    &__logo-container {
        // border: 2px solid #944;
        // padding: 0.5em;
        flex-basis: 100%;
        text-align: center;
        overflow: hidden;
        color: palette.$oxford-blue;
        font-size: 2em;
        transition: flex 0.5s, gap 0.5s;

        @media (min-width: 768px) {
            flex-basis: 15%;
        }
    }

    &__search-form-container {
        // border: 2px solid #494;
        padding: $svg-padding;
        flex-basis: $svg-size;
        flex-shrink: 0;
        height: 100%;
        transition: flex 0.5s, gap 0.5s;

        @media (min-width: 768px) {
            order: 2;
            flex-basis: 15em;
            flex-grow: 0;
            flex-shrink: 1;
        }
    }

    &__cart-button-container {
        display: flex;
        align-items: center;
        // border: #444 solid 2px;
        padding: $svg-padding;
        flex: 0 0 calc($svg-size + 8px);

        @media (min-width: 768px) {
            order: 3;
        }
    }

    &__hamburger-button-container {
        // border: 2px solid #47b;
        // padding: 0.5em;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__main-nav-container {
        transform: translateX(0);
        align-self: flex-start;
        flex-basis: 100%;
        width: 50%;
        top: 100%;
        right: 100%;
        // display: none;
        transition: transform 0.5s;
        position: absolute;
        flex-grow: 1;
        @media (min-width: 768px) {
            flex-basis: auto;
            order: 1;
            display: block;
        }
    }
}
