@use '../abstracts/palette';

$svg-size: 30px;
$svg-padding: 0.2em;

.main-header {
    max-width: 100%;
    background-color: palette.$blue-crayola;
    display: flex;
    position: fixed;
    z-index: 10;
    top: 50px;
    width: 100%;
    flex-direction: row;
    flex: 1;
    height: 60px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 0 8px 0 2px;
    color: palette.$oxford-blue;
    max-width: 2000px;

    @media (min-width: 768px) {
        padding: 0 16px 0 10px;
        gap: 12px;
        height: 70px;
        top: 55px;
    }
    @media (min-width: 992px) {
        gap: 20px;
        height: 80px;
        top: 60px;
    }

    &__logo-container {
        // border: 2px solid #944;
        // padding: 0.5em;
        order: 4;
        flex-basis: 100%;
        text-align: center;
        overflow: hidden;
        color: palette.$oxford-blue;
        font-size: 2em;
        transition: flex 0.5s, gap 0.5s;

        @media (min-width: 768px) {
            flex: 1 1 50%;
        }

        @media (min-width: 992px) {
            flex: 1 1 20%;
            order: 2;
        }
    }

    &__search-form-container {
        // border: 2px solid #494;
        order: 6;
        padding: $svg-padding;
        flex-basis: $svg-size;
        flex-shrink: 0;
        height: 100%;
        transition: flex 0.5s, gap 0.5s;

        @media (min-width: 768px) {
            flex: 1 1 50%;
        }
        
        @media (min-width: 992px) {
            flex: 2 1 35%;
            order: 8;
            max-width: 600px;
        }
    }

    &__cart-button-container {
        order: 8;
        display: flex;
        align-items: center;
        // border: #444 solid 2px;
        padding: $svg-padding;
        flex: 0 0 calc($svg-size + 8px);

        @media (min-width: 768px) {
        }
        @media (min-width: 992px) {
            order: 10;
        }
    }

    &__hamburger-button-container {
        order: 2;
        // border: 2px solid #47b;
        // padding: 0.5em;
        @media (min-width: 768px) {
        }
        @media (min-width: 992px) {
            display: none;
        }
    }

    &__main-nav-container {
        transform: translateX(0);
        align-self: flex-start;
        flex-basis: 100%;
        width: 75%;
        top: 100%;
        right: 100%;
        // display: none;
        transition: transform 0.5s;
        position: absolute;
        flex-grow: 1;
        order: 10;
        @media (min-width: 768px) {
        }

        @media (min-width: 992px) {
            position: relative;
            top: initial;
            right: initial;
            flex: 1 1 45%;
            height: 100%;
            order: 4;
            max-width: 700px;
        }
    }
}
