@use '../abstracts/palette';

.search-form {
    flex-basis: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    // padding: 0.2em;

    &:focus-within {
        & .search-form__icon-container {
            transform: rotateZ(90deg);
        }
    }

    &__input {
        color: palette.$oxford-blue;
        // border-top-left-radius: 10px;
        // border-bottom-left-radius: 10px;
        border-radius: 10px;
        outline: none;
        border: 2px solid;
        padding: 0.6em 40px 0.6em 0.4em;

        min-width: none;
        width: 100%;
        &::placeholder {
            text-align: center;
        }

        @media (min-width: 992px) {
            font-size: 1.3em;
            padding: 0.6em 40px 0.6em 1em;
        }
        &-container {
            flex: 0 1 0;
            overflow: hidden;
            transition: flex-basis 0.5s;
            margin-right: -45px;
            
            @media (min-width:768px) {
                flex-basis: 100%;
            }
        }

    }

    &__icon {
    }

    &__label {
        flex-basis: 30px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        transform: rotateZ(0deg);
        transition: transform 0.5s;
        path {
            // fill: palette.$oxford-blue;
            fill: white;
            transition: fill 0.5s;
            
            @media (min-width: 768px) {
                fill: palette.$oxford-blue;
            }
            
        }
        @media (min-width: 768px) {
            
        }
    }

    &__submit {
        position: absolute;
        width: 40px;
        background-color: red;
        pointer-events: none;
        opacity: 0;
        right: -5px;
        height: 40px;
        cursor: pointer;
    }

}