.section-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__header{
        padding: 1em 0;
        width: 100%;
        max-width: 650px;
    }

    &__footer {

    }
}