@use '../abstracts/palette';

.section-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0.5em;
    border-radius: 10px;
    
    @media (min-width: 1024px) {
        // height: 1000px;
        height: 475px;
        margin: 1.5em;
    }
    &__header{
        padding: 1em 0 1em 1em;
        width: 100%;
        max-width: 650px;
        @media (min-width: 1024px) {
            max-width: 1300px;
        }
    }
    

    &__footer {

    }
}