@use "../abstracts/mixins";
@use "../abstracts/palette";
@use "../abstracts/functions";
@use "../abstracts/variables";

.table {
  max-width: 1100px;
  width: 100%;
  min-height: 400px;
  // color: white;
  padding: 0.5rem 0;
  &--thin {
    max-width: none;
    min-height: 0;
    padding: 0.25rem;
    font-size: 0.75rem;
    max-height: 500px;
    .table__td:not(.table__td--id) {
      word-break: initial;
      line-break: initial;
    }
  }
  &__wrapper {
    width: 100%;
    @include mixins.display-flex(column);
    gap: calc(1em + 1vw);
    padding: 1em 0;
    position: relative;
    &-wrapper {
      // width: 100vw;
      max-width: variables.$max-width;
      margin: auto;
      @include mixins.display-flex(column);
      gap: calc(1em + 1vw);
      padding: 1em;
    }
  }
  &__container {
    // transition: max-height 0.5s;
    max-height: 0;
    width: 100%;
    overflow-y: hidden;
    // background-color: palette.$oxford-blue;
    &--thin {
      max-height: 500px;
      // overflow: auto;
      max-width: 100%;
    }
    transition: max-height 0.5s ease-in;
    &--sales {
      transition: max-height 1.25s linear ease-in;
    }
  }

  &__overflow {
    overflow: auto;
  }

  &__header {
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
  }

  &__info {
    @include mixins.display-flex(column);
    gap: calc(0.75rem + 1vw);
  }

  &__extra-info {

  }

  &__link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  &__th {
    padding: 0.75em;
    background-color: palette.$ultramarine-blue;
    color: white;
    &--id {
    }
    &--image {
      display: none;
      @media (min-width: 425px) {
        display: table-cell;
      }
    }
    &--name {
    }
    &--price {
      display: none;
      @media (min-width: 768px) {
        display: table-cell;
      }
    }
    &--all {
      max-width: 70%;
      overflow: auto;
    }
    &--description {
      display: none;
      @media (min-width: 1024px) {
        display: table-cell;
      }
    }
    &--actions {
    }
  }
  &__tr {
    &:nth-child(2n) {
      background-color: rgba(palette.$ultramarine-blue, 0.2);
      &:hover {
        background-color: rgba(palette.$ultramarine-blue, 0.1);
      }
    }
    &:nth-child(2n + 1) {
      background-color: rgba(palette.$baby-blue-eyes, 0.4);
      &:hover {
        background-color: rgba(palette.$baby-blue-eyes, 0.2);
      }
    }
  }

  &__td {
    padding: 0.6em;
    max-height: 500px;
    word-break: break-all;
    line-break: anywhere;
    max-width: 40%;
    &--id {
      min-width: 75px;
    }

    &--name {
    }
    &--image {
      padding: 0;
      min-height: 100%;
      text-align: center;
      display: none;
      @media (min-width: 425px) {
        display: table-cell;
      }
      // max-height: 1.5em;
    }
    &--all {
      max-width: 70%;
      overflow: auto;
    }
    &--price {
      word-break: initial;
      line-break: initial;
      display: none;
      @media (min-width: 768px) {
        display: table-cell;
      }
    }
    &--description {
      display: none;
      @media (min-width: 1024px) {
        display: table-cell;
      }
    }
    &--actions {
      padding: 0;
      text-align: center;
      // @include mixins.display-flex();
      // gap: 0.75em;
    }
  }

  &__image {
    height: 3em;
    object-fit: contain;
  }

  &__btn {
    cursor: pointer;
    padding: 0.25em;
    margin: 0.4em;
    outline: none;
    // background-color: transparent;
    background-color: palette.$ultramarine-blue;
    color: white;
    &:hover {
      background-color: white;
      color: palette.$ultramarine-blue;
    }
  }

  &__footer {
    &-td {
      padding: 1em;
      font-size: 1.25em;
      text-align: center;
    }
  }

  &__toggle-checkbox--product,
  &__toggle-checkbox--sales {
    display: none;
    &:checked {
      & ~ .table__wrapper {
        .table__container--product {
          // transition-timing-function: ease-out;
          max-height: 900px;
        }
        .table__container--sales {
          // transition-timing-function: ease-out;
          max-height: 2000px;
        }
      }
      & ~ .table__toggle-label::before {
        content: "Ocultar ";
      }
    }
  }
  &__toggle-label {
    margin: auto;
    &::before {
      content: "Mostrar ";
    }
  }
}
