@use '../abstracts/palette';

.invitation-newsletter {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    flex: 1;
    
    color: palette.$oxford-blue;
    gap: 12px;

    @media (min-width: 768px) {
        flex: 0 0 90%;
        max-width: 800px;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }

    @media (min-width: 992px) {
    //     flex-wrap: nowrap;
    //     flex-direction: row;
        max-width: 1000px;
    //     padding: 2em 0;
        padding: 0;
        gap: 16px;
    }

    &__header {
        font-size: 1.5em;
        &-container {
            @media (min-width: 768px) {
                flex-basis: 45%;
                flex-shrink: 0;
                display: flex;
                align-items: flex-end;
            }

            // @media (min-width: 992px) {
            //     flex: 1;
            // }
        }
    }

    &__label{
        &-container {
            font-size: 1.1em;
            @media (min-width: 768px) {
                flex-basis: 45%;
                flex-shrink: 0;
                display: flex;
                align-items: flex-start;
            }

            // @media (min-width: 992px) {
            //     flex: 1;
            // }

        }
    }

    &__input {
        background-color: transparent;
        outline: none;
        border: none;

        color: palette.$oxford-blue;
        border-width: 2px;
        border-style: solid;
        border-color: palette.$sunglow palette.$sunglow palette.$oxford-blue palette.$sunglow;
        border-radius: 10px;
        padding: 0.5em;
        width: 100%;
        transition: border 0.2s;
        &::placeholder {
            color: palette.$blue-crayola;
        }
        &:focus {
            border: 2px solid;
        }
        &-container {
            flex-basis: 75%;
            @media (min-width: 768px) {
                flex-basis: 45%;
                flex-shrink: 0;
                display: flex;
                align-items: flex-end;
            }

            // @media (min-width: 992px) {
            //     flex: 1;
            // }
        }
    }

    &__submit {
        // font-family:'Quicksand',sans-serif;
        padding: 0.4em 1em;
        border-radius: 10px;
        background-color: palette.$cinnabar;
        color: white;
        font-size: 1.2em;
        letter-spacing: 1px;
        font-weight: 400;
        cursor: pointer;
        width: 100%;
        border: none;
        // border: 1px solid palette.$oxford-blue;
        transition: filter 0.1s;
        &:hover {
            filter: brightness(1.4);
        }
        &-container {
            flex-basis: 75%;
            @media (min-width: 768px) {
                flex-basis: 45%;
                flex-shrink: 0;
                display: flex;
                align-items: flex-start;
            }

            // @media (min-width: 992px) {
            //     flex: 1;
            // }
        }
    }
}