<div class="p404">
  <div class="p404__content">
    <h1>Parece que la página que estás intentado acceder no existe</h1>
    <p>
      Podés volver a la página principal haciendo click
      <a href="#/" class="404__link">acá</a>
    </p>
  </div>
  <picture class="p404__img-container">
    <img class="p404__img" src="/img/404/404.png" alt="404" />
  </picture>
</div>