<div class="intro-header-container">
  <div class="intro-header">
    <div class="intro-header__title-container">
      <h1 class="intro-header__title">
        Alta de productos
      </h1>
    </div>
  </div>
</div>
<div class="main-form-container">
  <input
    type="checkbox"
    id="id-form__toggle-checkbox"
    class="id-form__toggle-checkbox"
  />
  <label
    for="id-form__toggle-checkbox"
    class="btn btn--big id-form__toggle-label"
  ></label>
  <form action="" class="id-form" method="get">
    <div class="id-form__group">
      <div class="input-group">
        <label for="search-id" class="input-group__label">Id</label>
        <input
          id="search-id"
          class="input-group__input"
          type="text"
          placeholder="1234abcdef56"
          required
          name="search-id"
        />
      </div>
      <div class="form-buttons">
        <input type="submit" class="form-buttons__search" value="Buscar" data-input="submit"/>
      </div>
    </div>
  </form>
  <form
    action="/api/products/"
    method="post"
    class="main-form"
    autocomplete="off"
    data-form="main"
  >
    <h2 class="main-form__title">Datos del producto</h2>
    <div class="main-form__group">
      <div class="input-group input-group--id">
        <label for="product-id" class="input-group__label">Id</label>
        <input
          id="product-id"
          class="input-group__input"
          type="text"
          data-input="id"
          disabled
          name="id"
        />
      </div>
      <div class="main-form__group">
        <div class="input-group"></div>
      </div>
    </div>
    <div class="main-form__group">
      <div class="input-group">
        <label for="product-name" class="input-group__label">
          Nombre:<sup class="required">*</sup>
        </label>
        <input
          id="product-name"
          class="input-group__input"
          type="text"
          data-input="name"
          required
          placeholder="Pelota Adidas All star"
          autofocus
          name="name"
        />
      </div>
      <div class="input-group-pair">
        <div class="input-group input-group--small">
          <label for="product-price" class="input-group__label">
            Precio:<sup class="required">*</sup>
          </label>
          <input
            id="product-price"
            class="input-group__input"
            type="number"
            data-input="price"
            required
            min="1"
            max="10000000"
            placeholder="10000"
            step=".01"
            name="price"
          />
        </div>
        <div class="input-group input-group--small">
          <label for="product-stock" class="input-group__label">
            Stock:<sup class="required">*</sup>
          </label>
          <input
            id="product-stock"
            class="input-group__input"
            type="number"
            data-input="stock"
            required
            min="0"
            max="100000"
            placeholder="10"
            name="stock"
            step="1"
          />
        </div>
      </div>
    </div>
    <div class="main-form__group">
      <div class="input-group">
        <label class="input-group__label" for="product-brand">Marca:<sup
            class="required"
          >*</sup></label>
        <input
          class="input-group__input"
          type="text"
          name="brand"
          data-input="brand"
          id="product-brand"
          required
          placeholder="Adidas"
        />
      </div>

      <div class="input-group">
        <label for="product-category" class="input-group__label">
          Categoría:<sup class="required">*</sup>
        </label>
        <input
          list="product-category-list"
          id="product-category"
          name="category"
          data-input="category"
          class="input-group__input"
          placeholder="JUEGOS DE PLAZA Y AIRE LIBRE"
          required
        />
        <datalist id="product-category-list">
          <option value="MUÑECOS Y MUÑECAS"></option>
          <option value="JUEGOS DE MESA"></option>
          <option value="JUEGOS DE CARTAS"></option>
          <option value="PUZZLES"></option>
          <option value="VEHÍCULOS DE JUGUETE"></option>
          <option value="PRIMERA INFANCIA"></option>
          <option value="PELUCHES"></option>
          <option value="JUGUETES DE CONSTRUCCIÓN"></option>
          <option value="JUGUETES DE OFICIOS"></option>
          <option value="ARTE Y MANUALIDADES"></option>
          <option value="JUEGOS DE COMBATE"></option>
          <option value="JUEGOS DE AGUA Y PLAYA"></option>
          <option value="ELECTRÓNICOS PARA NIÑOS"></option>
          <option value="INSTRUMENTOS MUSICALES"></option>
          <option value="RODADOS"></option>
          <option value="JUEGOS DE PLAZA Y AIRE LIBRE"></option>
          <option value="JUEGOS DE SALÓN"></option>
          <option value="CASAS Y CARPAS PARA NIÑOS"></option>
          <option value="HOBBIES"></option>
          <option value="TÍTERES Y MARIONETAS"></option>
          <option value="JUGUETES DE BROMAS"></option>
          <option value="MESAS Y SILLAS PARA NIÑOS"></option>
          <option value="OTROS"></option>
        </datalist>
      </div>
    </div>
    <div class="main-form__group">
      <div class="input-group input-group--large">
        <label for="product-description-short" class="input-group__label">
          Descripción corta:<sup class="required">*</sup>
        </label>
        <input
          id="product-description-short"
          class="input-group__input"
          type="text"
          data-input="shortDescription"
          required
          name="shortDescription"
          placeholder="Pelota Adidas ideal para niños..."
        />
      </div>
    </div>
    <div class="main-form__group">
      <div class="input-group input-group--large">
        <label for="product-description-long" class="input-group__label">
          Descripción completa:
        </label>
        <textarea
          id="product-description-long"
          rows="6"
          data-input="longDescription"
          class="input-group__input input-group__input--textarea"
          name="longDescription"
          required
        ></textarea>
      </div>
    </div>
    <div class="main-form__group">
      <div class="input-group-pair">
        <div class="input-group input-group--small flex-row">

          <label for="product-age-month" class="input-group__label">
            Edad en Meses<sup class="required">*</sup>
          </label>
          <input
            type="radio"
            id="product-age-month"
            class="input-group__input"
            data-radio="typeAge"
            name="typeAge"
            value="M"
          />
        </div>
        <div class="input-group input-group--small flex-row">
          <label for="product-age-year" class="input-group__label">
            Edad en Años<sup class="required">*</sup>
          </label>
          <input
            type="radio"
            id="product-age-year"
            class="input-group__input"
            data-radio="typeAge"
            name="typeAge"
            checked
            value="Y"
          />

        </div>

      </div>
      <div class="input-group-pair">
        <div class="input-group input-group--small flex-column">

          <label for="product-age-min" class="input-group__label">
            Edad desde:<sup class="required">*</sup>
          </label>
          <input
            type="number"
            id="product-age-min"
            class="input-group__input"
            data-input="minAge"
            name="minAge"
            required
          />
        </div>
        <div class="input-group input-group--small flex-column">
          <label for="product-age-max" class="input-group__label">
            Edad hasta:<sup class="required">*</sup>
          </label>
          <input
            type="number"
            id="product-age-max"
            class="input-group__input"
            data-input="maxAge"
            name="maxAge"
            required
          />

        </div>

      </div>

    </div>
    <div class="main-form__group">

      <div class="input-group">
        <label for="product-profile-image" class="input-group__label">
          Foto portada:<sup class="required">*</sup>
        </label>
        <input
          type="file"
          name="profileImageUrl"
          id="product-profile-image"
          class="input-group__input"
          accept="image/*"
          required
        />
      </div>
      <div class="input-group">
        <label for="product-images" class="input-group__label">
          Fotos adicionales:
        </label>
        <input
          type="file"
          name="imagesUrls"
          id="product-images"
          class="input-group__input"
          accept="image/*"
          multiple
        />
      </div>
    </div>
    <div class="input-group input-group--checkbox">
      <label
        for="product-shipping"
        class="input-group__label input-group__label--checkbox"
      >
        Envio sin cargo:
      </label>
      <input
        type="checkbox"
        class="input-group__input input-group__input--checkbox"
        data-checkbox="shipping"
        name="shipping"
        id="product-shipping"
      />

    </div>
    <div class="form-message-container">
      <p class="form-message">
        <sup class="required">*</sup>Campos obligatorios
      </p>

    </div>
    <div class="form-buttons">
      <input class="form-buttons__submit" type="submit" value="Enviar" data-input="submit" />
      <input
        class="form-buttons__update hidden"
        disabled
        type="submit"
        value="Actualizar" data-input="submit"
      />
      <button class="form-buttons__cancel hidden" disabled> Cancelar </button>
    </div>
  </form>
</div>
<div class="table-products__wrapper-wrapper">
  <input
    type="checkbox"
    id="table-products__toggle-checkbox"
    class="table-products__toggle-checkbox"
  />
  <label
    for="table-products__toggle-checkbox"
    class="btn btn--big table-products__toggle-label"
  >todos los productos</label>
  <div class="table-products__wrapper"></div>
  {{!-- {{> components/products-table}} --}}
</div>
<script src="./js/Form.js"></script>
<script src="./js/alta.js"></script>