<main>
            <div class="intro-header-container">
                <div class="intro-header">
                    <div class="intro-header__title-container">
                        <h1 class="intro-header__title">
                            ¡Bienvenido a la Juguetería Cósmica!
                        </h1>
                    </div>
                </div>
            </div>
            <section class="section-cards">
                <header class="section-cards__header">
                    <h2>Juegos y Juguetes</h2>
                    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                </header>
                <div class="cards-container">
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/D_NQ_NP_898901-MLA50786026892_072022-O.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Pelota Nro 2 Infantil
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">1.580</p>
                                </div>
                                <div class="card__description">
                                    <p class="card__description-short">
                                        Compuesta de PVC de 480mm
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/autodepolicia.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Auto De Policía A Radio Control Remoto
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">2.609</p>
                                </div>
                                <div class="card__description">
                                    <p class="card__description-short">
                                        Marca: Yifeng. Edad mínima recomendada:
                                        3 años
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/reloj_spiderman.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Reloj Infantil De Spiderman
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">1.999</p>
                                </div>
                                <div class="card__description">
                                    <p class="card__description-short">
                                        Correa ajustable. Proyecta 24 imágenes
                                        diferente. Hora digital
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/crocky_attack.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Juego de mesa Croky attack
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">2.570</p>
                                </div>
                                <div class="card__description">
                                    <p class="card__description-short">
                                        Marca Ditoys. Edad recomendada: 6 años.
                                        Estimula el ingenio.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <footer class="section-cards__footer">
                    <p><a href="#" class="section-cards__footer-link">Ver más...</a></p>
                    
                </footer>
            </section>
            <section class="section-cards">
                <header class="section-cards__header">
                    <h2>Más populares</h2>
                    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                </header>
                <div class="cards-container">
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/teclado_musical.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Teclado Musical Infantil
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">6.489</p>
                                </div>
                                <div class="card__description">
                                    <p class="card__description-short">
                                        Marca NEWVISION. Dispone de 37 teclas, 8
                                        tonos, 8 ritmos y más
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/ukelele_infantil.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Ukelele Soprano Infantil
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">3.499</p>
                                </div>
                                <div class="card__description">
                                    <p class="card__description-short">
                                        Ukelele madera soprano infantil,
                                        importado de primera calidad
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/dinosaurio_pone_huevos.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Dinosaurio Tiranosaurio Rex
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">5.499</p>
                                </div>
                                <div class="card__description">
                                    <p class="card__description-short">
                                        Dinosaurio camina ,emite sonido,luces y
                                        pone huevos. Lyon Toys
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/walkie_talkie_baofang.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Walkie Talkie Handy
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">3.999</p>
                                </div>
                                <div class="card__description">
                                    <p>
                                        Kit x 2 handies Baofeng. 16 Canales.
                                        Frecuencia 400 - 470 Mhz
                                    </p>
                                    <p class="card__description-long">
                                        KIT X 2 HANDIES BAOFENG UHF BF-888S
                                        Rango de frecuencia: 400 - 470 Mhz - 16
                                        Canales Escaneo de frecuencias
                                        automatico - Indicador de bateria baja.
                                        Manos libres VOX.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <footer class="section-cards__footer">
                    <p><a href="#" class="section-cards__footer-link">Ver más...</a></p>
                </footer>
            </section>
            <section class="section-cards">
                <header class="section-cards__header">
                    <h2>Más recientes</h2>
                    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                </header>
                <div class="cards-container">
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/pato_bailarin.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Cactus Juguete Bailarin
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">5.604</p>
                                </div>
                                <div class="card__description">
                                    <p>
                                        Cactus de juguete peluche bailarín
                                        electronico interactivo
                                    </p>
                                    <p class="card__description-long">
                                        KIT X 2 HANDIES BAOFENG UHF BF-888S
                                        Rango de frecuencia: 400 - 470 Mhz - 16
                                        Canales Escaneo de frecuencias
                                        automatico - Indicador de bateria baja.
                                        Manos libres VOX.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/robot_bailarin.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Robot Bailarin Gira 360
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">6.500</p>
                                </div>
                                <div class="card__description">
                                    <p>
                                        Robot bailarin “Naughty” Con luces y
                                        música, movimientos continuos
                                    </p>
                                    <p class="card__description-long">
                                        KIT X 2 HANDIES BAOFENG UHF BF-888S
                                        Rango de frecuencia: 400 - 470 Mhz - 16
                                        Canales Escaneo de frecuencias
                                        automatico - Indicador de bateria baja.
                                        Manos libres VOX.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/fidget_spiner.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Juguete Fidget Spiner
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">299</p>
                                </div>
                                <div class="card__description">
                                    <p>
                                        Fidget Spiner Anti-estrés. Marca
                                        Spinner. Para niños y adultos
                                    </p>
                                    <p class="card__description-long">
                                        KIT X 2 HANDIES BAOFENG UHF BF-888S
                                        Rango de frecuencia: 400 - 470 Mhz - 16
                                        Canales Escaneo de frecuencias
                                        automatico - Indicador de bateria baja.
                                        Manos libres VOX.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card">
                        <a href="#" class="card__link-add">Agregar</a>
                        <article class="card__article">
                            <div class="card__image-container">
                                <button class="card__favorite">
                                    <svg height="24" width="24" version="1.1">
 <g transform="translate(0 -1028.4)">
  <path d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z" fill="#e74c3c"/>
 </g>
</svg>
                                </button>
                                <a class="card__image-link" href="#">
                                <img
                                    src="img/productos/pista_carrera_bunny_toys.webp"
                                    alt="Producto"
                                    class="card__image" />
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading">
                                    Pista De Carreras Chicco
                                </h3>
                                <div class="card__price-container">
                                    <p class="card__price">23.749</p>
                                </div>
                                <div class="card__description">
                                    <p>
                                        Pista De Carreras Para Niños De 2 Años
                                        Chicco Bunny Toys
                                    </p>
                                    <p class="card__description-long">
                                        KIT X 2 HANDIES BAOFENG UHF BF-888S
                                        Rango de frecuencia: 400 - 470 Mhz - 16
                                        Canales Escaneo de frecuencias
                                        automatico - Indicador de bateria baja.
                                        Manos libres VOX.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <footer class="section-cards__footer">
                    <p><a href="#" class="section-cards__footer-link">Ver más...</a></p>
                </footer>
            </section>
        </main>
        <script src="js/card.js"></script>