{{!-- <main> --}}
            <div class="intro-header-container">
                <div class="intro-header">
                    <div class="intro-header__title-container">
                        <h1 class="intro-header__title">
                            Acerca de Nosotros
                        </h1>
                    </div>
                </div>
            </div>
            <div class="overlap-image-container">
                <div class="overlap-image"></div>
            </div>
            <section class="section-cards section-cards--info">
                <header class="section-cards__header">
                    <h2>Nuestras cualidades</h2>
                </header>
                <div class="cards-container">
                    <div class="card card--thin card--small">
                        <a href="./contacto.html" class="card__link-add btn">¡Únete!</a>
                        <article class="card__article">
                            <a class="card__image-container card__image-container--small" href="#">
                                <svg class="card__image card__image--small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="96px" height="96px"><path fill="#E8EAF6" d="M42 39L6 39 6 23 24 6 42 23z"/><path fill="#C5CAE9" d="M39 21L34 16 34 9 39 9zM6 39H42V44H6z"/><path fill="#B71C1C" d="M24 4.3L4 22.9 6 25.1 24 8.4 42 25.1 44 22.9z"/><path fill="#D84315" d="M18 28H30V44H18z"/><path fill="#01579B" d="M21 17H27V23H21z"/><path fill="#FF8A65" d="M27.5,35.5c-0.3,0-0.5,0.2-0.5,0.5v2c0,0.3,0.2,0.5,0.5,0.5S28,38.3,28,38v-2C28,35.7,27.8,35.5,27.5,35.5z"/></svg>
                            </a>
                            <div class="card__content">
                                <h3 class="card__heading card__heading--quality">
                                    Negocio familiar
                                </h3>
                                
                                <div class="card__description card__description--large ">
                                    <p class="card__description-short">
                                        Somos una pequeña empresa familiar, por lo que entendemos las necesidades tuyas y de tus niños. También estamos buscando agregar miembros a la familia
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card card--thin card--small">
                        <a href="./contacto.html" class="card__link-add btn">¡Comparte!</a>
                        <article class="card__article">
                            <div class="card__image-container card__image-container--small">
                                <svg class="card__image card__image--small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="96px" height="96px"><path fill="#FFF59D" d="M24 2A20 20 0 1 0 24 42A20 20 0 1 0 24 2Z"/><path fill="#FBC02D" d="M37,22c0-7.7-6.6-13.8-14.5-12.9c-6,0.7-10.8,5.5-11.4,11.5c-0.5,4.6,1.4,8.7,4.6,11.3c1.4,1.2,2.3,2.9,2.3,4.8V37h12v-0.1c0-1.8,0.8-3.6,2.2-4.8C35.1,29.7,37,26.1,37,22z"/><path fill="#FFF59D" d="M30.6,20.2l-3-2c-0.3-0.2-0.8-0.2-1.1,0L24,19.8l-2.4-1.6c-0.3-0.2-0.8-0.2-1.1,0l-3,2c-0.2,0.2-0.4,0.4-0.4,0.7s0,0.6,0.2,0.8l3.8,4.7V37h2V26c0-0.2-0.1-0.4-0.2-0.6l-3.3-4.1l1.5-1l2.4,1.6c0.3,0.2,0.8,0.2,1.1,0l2.4-1.6l1.5,1l-3.3,4.1C25.1,25.6,25,25.8,25,26v11h2V26.4l3.8-4.7c0.2-0.2,0.3-0.5,0.2-0.8S30.8,20.3,30.6,20.2z"/><path fill="#5C6BC0" d="M24 41A3 3 0 1 0 24 47A3 3 0 1 0 24 41Z"/><path fill="#9FA8DA" d="M26,45h-4c-2.2,0-4-1.8-4-4v-5h12v5C30,43.2,28.2,45,26,45z"/><path fill="#5C6BC0" d="M30 41l-11.6 1.6c.3.7.9 1.4 1.6 1.8l9.4-1.3C29.8 42.5 30 41.8 30 41zM18 38.7L18 40.7 30 39 30 37z"/></svg>
                            </div>
                            <div class="card__content">
                                <h3 class="card__heading card__heading--quality">
                                    Ideas innovadoras
                                </h3>
                                
                                <div class="card__description card__description--large ">
                                    <p class="card__description-short">
                                        Estamos constantemente ideando formas de complacer a toda la familia y darles lo que merecen. Somos todo oídos a tus brillantes ideas.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card card--thin card--small">
                        <a href="./contacto.html" class="card__link-add btn">¡Háblanos!</a>
                        <article class="card__article">
                            <a class="card__image-container card__image-container--small" href="#">
                                <svg class="card__image card__image--small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="96px" height="96px"><path fill="#2196F3" d="M45,34V18c0-4.418-3.582-8-8-8H16c-4.418,0-8,3.582-8,8v16H45z"/><path fill="#FF3D00" d="M38 17H42V23H38z"/><path fill="#FF3D00" d="M30 17H40V19H30z"/><path fill="#FF3D00" d="M29 16A2 2 0 1 0 29 20A2 2 0 1 0 29 16Z"/><path fill="#DD2C00" d="M29 17A1 1 0 1 0 29 19A1 1 0 1 0 29 17Z"/><path fill="#FFCC80" d="M25 34H30V44H25z"/><path fill="#FFA726" d="M25 34H30V36H25z"/><path fill="#1976D2" d="M16,10c-4.411,0-8,3.589-8,8v14v2h2h12h2v-2V18C24,13.589,20.411,10,16,10L16,10z"/><path fill="#64B5F6" d="M16,12c-3.309,0-6,2.691-6,6v14h12V18C22,14.691,19.309,12,16,12z"/><path fill="#0D47A1" d="M20,20c0,0.552-0.448,1-1,1h-6c-0.552,0-1-0.448-1-1l0,0c0-0.552,0.448-1,1-1h6C19.552,19,20,19.448,20,20L20,20z"/></svg>
                            </a>
                            <div class="card__content">
                                <h3 class="card__heading card__heading--quality">
                                    Especial comunicación
                                </h3>
                                
                                <div class="card__description card__description--large ">
                                    <p class="card__description-short">
                                        Para nosotros es importante un constante flujo de conversación entre la juguetería Cósmica y nuestros clientes. Si tienes algo para decirnos, no lo dudes.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="card card--thin card--small">
                        <a href="./contacto.html" class="card__link-add btn">¡Sugiérenos!</a>
                        <article class="card__article">
                            <a class="card__image-container card__image-container--small" href="#">
                                <svg class="card__image card__image--small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="96px" height="96px"><path fill="#FFC107" d="M3 21H45V40H3z"/><path fill="#455A64" d="M45 21v-5c0-1.104-.896-2-2-2H5c-1.104 0-2 .896-2 2v5H45zM19 14v-4h9v4h2v-4c0-1.104-.896-2-2-2h-9c-1.104 0-2 .896-2 2v4H19z"/><path fill="#78909C" d="M9 19H15V28H9zM33 19H39V28H33z"/><g><path fill="#455A64" d="M9 24H15V26H9zM33 24H39V26H33z"/></g></svg>
                            </a>
                            <div class="card__content">
                                <h3 class="card__heading card__heading--quality">
                                    Constante actualización
                                </h3>
                                <div class="card__description card__description--large ">
                                    <p class="card__description-short">
                                        En la juguetería Cósmica todos los dias nos esforzamos por traerte lo mejor, y darte las facilidades para negociar tus artículos. Siempre escuchamos a sugerencias
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <footer class="section-cards__footer">
                </footer>
            </section>
            <section class="section-big-cards">
                <header class="section-big-cards__header">
                    <h2>Más sobre nosotros</h2>
                </header>
                <div class="big-cards-container">
                    <div class="big-card">
                        <article class="big-card__article">
                            <a class="big-card__image-container big-card__image-container--small" href="#">
                                <img src="./img/about/about-work.png" alt="Sucursales" class="big-card__image">
                            </a>
                            <div class="big-card__content">
                                <h3 class="big-card__heading">
                                    Sucursales
                                </h3>
                                <div class="big-card__description">
                                    <p class="big-card__description-short">
                                        ¡Estamos trabajando para expandirnos! Por ahora estamos esperándote solo en una sucursal, pero pronto vendrán más. Puedes vernos directamente <a href="https://www.google.com/maps/place/Av.+Corrientes+1710,+C1042AAQ+CABA/@-34.604532,-58.390969,16z/data=!4m5!3m4!1s0x95bccac1766d4111:0x8611a78fe038742f!8m2!3d-34.6045316!4d-58.3909688?hl=en">acá</a> o más abajo.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="big-card">
                        <article class="big-card__article">
                            <div class="big-card__image-container">
                                <img src="./img/about/about-vision.png" alt="Vision" class="big-card__image">
                            </div>
                            <div class="big-card__content">
                                <h3 class="big-card__heading">
                                    Visión
                                </h3>
                                <div class="big-card__description">
                                    <p class="big-card__description-short">
                                        Nuestro ideal es trabajar para que todos los integrantes de la familia, niños, adolescentes y adultos, encuentren ese algo en donde encuentren alegría, entretenimiento y aprendizaje.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                    
                    <div class="big-cards-container">
                        <div class="big-card big-card--large">
                            <article class="big-card__article">
                                <a class="big-card__image-container" href="#">
                                    <img src="./img/about/about-map.png" alt="Maps" class="big-card__image">
                                </a>
                                <div class="big-card__content">
                                    <h3 class="big-card__heading">
                                        ¿En dónde estamos?
                                    </h3>
                                    <div class="big-card__description big-card__description--large ">
                                        <div class="big-card__description-short">
                                            <div class="google-map"><iframe title="Ubicacion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9853642307266!2d-58.3909688!3d-34.6045316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac1766d4111%3A0x8611a78fe038742f!2sAv.%20Corrientes%201710%2C%20C1042AAQ%20CABA!5e0!3m2!1sen!2sar!4v1663566808531!5m2!1sen!2sar" width="700" height="435" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                <footer class="section-big-cards__footer">
                </footer>
            </section>
        {{!-- </main> --}}
        <script src="./js/card.js"></script>