<footer class="main-footer">
            <div class="main-footer__invitation-newsletter-container">
                <form class="invitation-newsletter">
                    <div class="invitation-newsletter__header-container">
                        <h3 class="invitation-newsletter__header">
                            Nuestro newsletter
                        </h3>
                    </div>
                    <div class="invitation-newsletter__label-container">
                        <label
                            for="invitation-newsletter__input"
                            class="invitation-newsletter__label">
                            ¡Entérate de nuestras promos!
                        </label>
                    </div>
                    <div class="invitation-newsletter__input-container">
                        <input
                            type="email" required
                            id="invitation-newsletter__input"
                            class="invitation-newsletter__input"
                            placeholder="Ingresa tu mail..." >
                    </div>
                    <div class="invitation-newsletter__submit-container">
                        <input
                            type="submit"
                            value="Suscribirse Ahora"
                            class="invitation-newsletter__submit" data-input="submit">
                    </div>
                </form>
            </div>
            <div class="main-footer__social-container">
                <section class="social">
                    <div class="social__header-container">
                        <h3 class="social__header">
                            ¡Síguenos en nuestras redes!
                        </h3>
                    </div>
                    <ul class="social__list">
                        <li class="social__list-item">
                            <div class="social__icon social__icon--instagram">
                                <a
                                    href="https://instagram.com"
                                    class="social__link">
                                    <img src="./img/social-instagram.png" alt="Instagram" class="social__link-img">
                                </a>
                            </div>
                        </li>
                        <li class="social__list-item">
                            <div class="social__icon social__icon--facebook">
                                <a
                                    href="https://facebook.com"
                                    class="social__link">
                                    <img src="./img/social-facebook.png" alt="Facebook" class="social__link-img">
                                </a>
                            </div>
                        </li>
                        <li class="social__list-item">
                            <div class="social__icon social__icon--tiktok">
                                <a
                                    href="https://tiktok.com"
                                    class="social__link">
                                    <img src="./img/social-tiktok.png" alt="Tiktok" class="social__link-img">
                                </a>
                            </div>
                        </li>
                        <li class="social__list-item">
                            <div class="social__icon social__icon--youtube">
                                <a
                                    href="https://youtube.com"
                                    class="social__link">
                                    <img src="./img/social-youtube.png" alt="Youtube" class="social__link-img">
                                </a>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="main-footer__contacto-container">
                <section class="footer-contacto">
                    <div class="footer-contacto__header-container">
                        <h3 class="footer-contacto__header">Contacto</h3>
                    </div>
                    <div class="footer-contacto__whatsapp-container">
                        <div class="footer-contacto__whatsapp">
                            <h4 class="footer-contacto__whatsapp-title">
                                <span class="footer-contacto__icon">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="48"
                                        height="48"
                                        viewBox="0 0 48 48"
                                        fill="none">
                                        <path
                                            d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z"
                                            fill="#25D366" >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M24.7911 37.3526H24.7852C22.3967 37.3517 20.0498 36.7525 17.9653 35.6155L10.4 37.6L12.4246 30.2049C11.1757 28.0406 10.5186 25.5855 10.5196 23.0703C10.5228 15.2017 16.9248 8.80005 24.7909 8.80005C28.6086 8.8017 32.1918 10.2879 34.8862 12.9855C37.5806 15.6829 39.0636 19.2684 39.0621 23.0816C39.059 30.9483 32.6595 37.3494 24.7911 37.3526ZM18.3159 33.0319L18.749 33.289C20.5702 34.3697 22.6578 34.9416 24.7863 34.9424H24.7911C31.3288 34.9424 36.6499 29.6212 36.6525 23.0807C36.6538 19.9113 35.4212 16.9311 33.1817 14.689C30.9422 12.4469 27.964 11.2116 24.7957 11.2105C18.2529 11.2105 12.9318 16.5312 12.9292 23.0711C12.9283 25.3124 13.5554 27.4952 14.7427 29.3837L15.0248 29.8325L13.8265 34.2096L18.3159 33.0319ZM31.4924 26.1541C31.7411 26.2743 31.9091 26.3555 31.9808 26.4752C32.0699 26.6239 32.0699 27.3378 31.7729 28.1709C31.4756 29.0038 30.051 29.764 29.3659 29.8664C28.7516 29.9582 27.9741 29.9965 27.1199 29.7251C26.602 29.5608 25.9379 29.3414 25.0871 28.9739C21.7442 27.5305 19.485 24.2904 19.058 23.6781C19.0281 23.6352 19.0072 23.6052 18.9955 23.5896L18.9927 23.5858C18.804 23.334 17.5395 21.6469 17.5395 19.9008C17.5395 18.2583 18.3463 17.3974 18.7177 17.0011C18.7432 16.9739 18.7666 16.9489 18.7875 16.9261C19.1144 16.5691 19.5007 16.4798 19.7384 16.4798C19.9761 16.4798 20.2141 16.482 20.4219 16.4924C20.4475 16.4937 20.4742 16.4936 20.5017 16.4934C20.7095 16.4922 20.9686 16.4907 21.2242 17.1046C21.3225 17.3408 21.4664 17.6911 21.6181 18.0605C21.9249 18.8075 22.264 19.6328 22.3236 19.7523C22.4128 19.9308 22.4722 20.1389 22.3533 20.377C22.3355 20.4127 22.319 20.4464 22.3032 20.4786C22.2139 20.6608 22.1483 20.7949 21.9967 20.9718C21.9372 21.0414 21.8756 21.1164 21.814 21.1914C21.6913 21.3408 21.5687 21.4902 21.4619 21.5966C21.2833 21.7744 21.0975 21.9673 21.3055 22.3243C21.5135 22.6813 22.2292 23.849 23.2892 24.7945C24.4288 25.8109 25.4192 26.2405 25.9212 26.4583C26.0192 26.5008 26.0986 26.5353 26.1569 26.5644C26.5133 26.743 26.7213 26.7131 26.9294 26.4752C27.1374 26.2372 27.8208 25.4339 28.0584 25.077C28.2961 24.7201 28.5339 24.7796 28.8607 24.8985C29.1877 25.0176 30.9408 25.8802 31.2974 26.0586C31.367 26.0935 31.4321 26.125 31.4924 26.1541Z"
                                            fill="#FDFDFD" >
                                    </svg>
                                </span>
                                WhatsApp
                            </h4>
                            <p class="footer-contacto__whatsapp-info">
                                +54 911 1234 5678
                            </p>
                        </div>
                    </div>
                    <div class="footer-contacto__direccion-container">
                        <div class="footer-contacto__direccion">
                            <h4 class="footer-contacto__direccion-title">
                                <span class="footer-contacto__icon">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        id="Layer_2"
                                        data-name="Layer 1"
                                        viewBox="0 0 24 24">
                                        <title>Maps, GPS</title>
                                        <path
                                            d="M15.92,15.23,18.35,11a7.27,7.27,0,0,0,0-7.35,7.35,7.35,0,0,0-12.72,0,7.27,7.27,0,0,0,0,7.35l2.43,4.21C4,15.71,0,17,0,19.5,0,22.59,6.22,24,12,24s12-1.41,12-4.5C24,17,20,15.71,15.92,15.23ZM7.37,4.67A5.34,5.34,0,1,1,16.62,10L12,18,7.38,10A5.31,5.31,0,0,1,7.37,4.67ZM12,22C5.4,22,2,20.25,2,19.5c0-.53,2.15-1.95,7.18-2.38l1.35,2.33a1.7,1.7,0,0,0,2.94,0l1.35-2.33C19.85,17.55,22,19,22,19.5,22,20.25,18.6,22,12,22Z" >
                                        <circle cx="12" cy="7" r="2" >
                                    </svg>
                                </span>
                                Dirección
                            </h4>
                            <div class="footer-contacto__direccion-info">
                                <p class="footer-contacto__direccion-info">
                                    <span
                                        class="footer-contacto__direccion-icon">
                                    </span>
                                    Avenida Corrientes 1710
                                </p>
                                <p class="footer-contacto__direccion-info">
                                    Entre calles Callao y Riobamba
                                </p>
                                <p class="footer-contacto__direccion-info">
                                    Buenos Aires - Capital Federal
                                </p>
                                <p class="footer-contacto__direccion-info">
                                    Argentina
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="main-footer__horario-container">
                <section class="footer-horario">
                    <h3 class="footer-horario__title">Horario de Atención</h3>
                    <div class="footer-horario__info-container">
                        <p class="footer-horario__info">
                            Lunes a viernes, 10:00 a 19:00
                        </p>
                        <p class="footer-horario__info">
                            Sabado y domingo, 11:00 a 18:00
                        </p>
                    </div>
                </section>
            </div>
            <div class="main-footer__creator-container">
                <div class="creator">
                    <div class="creator__copyright-container">
                        <svg
                            class="creator__copyright"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 15.781c-2.084 0-3.781-1.696-3.781-3.781s1.696-3.781 3.781-3.781c1.172 0 2.306.523 3.136 1.669l1.857-1.218c-1.281-1.826-3.133-2.67-4.993-2.67-3.308 0-6 2.692-6 6s2.691 6 6 6c1.881 0 3.724-.859 4.994-2.67l-1.857-1.218c-.828 1.14-1.959 1.669-3.137 1.669z" >
                        </svg>
                    </div>
                    <div class="creator__firma-container">
                        <div class="creator__firma">
                            Creado por
                            <span class="creator__nombre">César Moros</span>
                        </div>
                    </div>
                    <div class="creator__link-container">
                        <a
                            class="github-link"
                            href="https://github.com/Cmoros/">
                            <svg
                                class="github-link__svg github-link__svg--hover-hide"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2.218 18.616c-.354.069-.468-.149-.468-.336v-1.921c0-.653-.229-1.079-.481-1.296 1.56-.173 3.198-.765 3.198-3.454 0-.765-.273-1.389-.721-1.879.072-.177.312-.889-.069-1.853 0 0-.587-.188-1.923.717-.561-.154-1.159-.231-1.754-.234-.595.003-1.193.08-1.753.235-1.337-.905-1.925-.717-1.925-.717-.379.964-.14 1.676-.067 1.852-.448.49-.722 1.114-.722 1.879 0 2.682 1.634 3.282 3.189 3.459-.2.175-.381.483-.444.936-.4.179-1.413.488-2.037-.582 0 0-.37-.672-1.073-.722 0 0-.683-.009-.048.426 0 0 .46.215.777 1.024 0 0 .405 1.25 2.353.826v1.303c0 .185-.113.402-.462.337-2.782-.925-4.788-3.549-4.788-6.641 0-3.867 3.135-7 7-7s7 3.133 7 7c0 3.091-2.003 5.715-4.782 6.641z" >
                            </svg>
                            <svg
                                class="github-link__svg github-link__svg--hover-show"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 6c-3.313 0-6 2.686-6 6 0 2.651 1.719 4.9 4.104 5.693.3.056.396-.13.396-.289v-1.117c-1.669.363-2.017-.707-2.017-.707-.272-.693-.666-.878-.666-.878-.544-.373.041-.365.041-.365.603.042.92.619.92.619.535.917 1.403.652 1.746.499.054-.388.209-.652.381-.802-1.333-.152-2.733-.667-2.733-2.965 0-.655.234-1.19.618-1.61-.062-.153-.268-.764.058-1.59 0 0 .504-.161 1.65.615.479-.133.992-.199 1.502-.202.51.002 1.023.069 1.503.202 1.146-.776 1.648-.615 1.648-.615.327.826.121 1.437.06 1.588.385.42.617.955.617 1.61 0 2.305-1.404 2.812-2.74 2.96.216.186.412.551.412 1.111v1.646c0 .16.096.347.4.288 2.383-.793 4.1-3.041 4.1-5.691 0-3.314-2.687-6-6-6z" >
                            </svg>
                        </a>
                    </div>
                    <div class="creator__link-container">
                        <a
                            class="linkedin-link"
                            href="https://www.linkedin.com/in/cesar-moros-280336174/">
                            <svg
                                class="linkedin-link__svg linkedin-link__svg--hover-hide"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z" >
                            </svg>
                            <svg
                                class="linkedin-link__svg linkedin-link__svg--hover-show"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z" >
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-footer__copyright-container">
                <p class="main-footer__copyright">
                    Copyright Juguetería Cósmica - 2022. Todos los derechos
                    reservados. Defensa de las y los consumidores. Para reclamos
                    ingrese aquí
                </p>
            </div>
        </footer>
        <script src="js/footer.js" type="module"></script>