@use '../abstracts/palette';

.btn {
  display: inline-block;
  // font-weight: 400;
  // line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  // font-size: 1rem;
  border-radius: 0.35rem;
  color: #fff;
  filter: none;
  background-color: palette.$ultramarine-blue;
  text-decoration: none;
  border-color: palette.$ultramarine-blue;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.90);
  }
  &--light {
    color: palette.$ultramarine-blue;
    background-color: #fff;
    &.solo-product__form-link--fav--selected {
      background-color: palette.$ultramarine-blue;
      color: #fff;
    }
  }
  &--process {
    filter: brightness(0.85);
  }
  &--success {
    color: white;
    background-color: palette.$dark-pastel-green;
    border-color: palette.$dark-pastel-green;
  }

  &--big {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
  }

  &--nostock {
    background-color: palette.$sunglow;
    border-color: palette.$sunglow;
    color: palette.$oxford-blue;
  }

  .fa-solid {
    pointer-events: none;
  }
}