@use '../abstracts/palette';
// @import url(../abstracts/_palette.scss);


.popup {
  opacity: 0;
  left: 50%;
  font-size: calc(1rem + 0.5vw);
  padding: 0.5em 1em;
  bottom: 100%;
  text-align: center;
  pointer-events: none;
  transform: translateY(0) translateX(-50%);
  position: fixed;
  
  z-index: 15;
  // color: white;
  // background-color: palette.$ultramarine-blue;
  color: palette.$ultramarine-blue;
  // color: $ultramarine-blue;
  background-color: white;
  border: 0.2em solid;
  border-radius: 0.5em;
}

