@keyframes show-and-hide {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  25% {
    transform: translateY(175%) translateX(-50%);
    opacity: 1;
  }
  74% {
    transform: translateY(175%) translateX(-50%);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

