@use '../abstracts/palette';

// html {
//     background-color: white;
// }

body {
    padding: 0;
    min-height: 100vh;
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
    justify-content: space-between;
    transition: padding 0.5s;
    @media (min-width:768px) {
        
    }
    @media (min-width:992px) {
        padding: 0 0 0;
    }
}

* {
    font-family: inherit;
}

main {
    padding: 50px 0 0;
    background-color: #eaf1ff;
    transition: filter 0.25s linear;
}

i {
    pointer-events: none;
    margin-right: 0.5em;
}

