$textAlignValues:("left", "right", "center", "justify" );

@each $textAlign in $textAlignValues {
    .u-text-align-#{$textAlign} {
        text-align: #{$textAlign}!important;
    }
}

.flex {
    display: flex !important;
    &-row {
        display: flex;
        flex-direction: row !important;
    }
    &-column {
        display: flex;
        flex-direction: column !important;
    }
    &-justify-center {
        display: flex;
        justify-content: center !important;
    }
}

.required {
    color: red;
    font-size: 1.2em;
}

.disabled {
    opacity: 0.5;
    &--submit {
        pointer-events: none;
        

    }
}

.open-modal {
    overflow: hidden;
}

.mr-2 {
    margin-right: 0.5rem;
}

.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}