@use '../abstracts/palette';


$card-height: 250px;
$img-container-height:200px;

.big-card {
    
    // border: 2px solid #234;
    
    flex: 1 1 50%;
    max-width: 400px;
    overflow: hidden;
    height: $card-height;
    
    box-shadow: 
        0 1px 5px rgba(palette.$ultramarine-blue, .2),
        0 0px 3px rgba(palette.$ultramarine-blue, .4)
    ;

    // border-radius: 5px 5px 0 0;
    border-radius: 7px;
    background-color: white;
    // transition: background-color .4s, transform 2s;
    transition: all .15s linear, box-shadow .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
    align-items: center;

    @media (min-width: 768px) {
        height: calc($card-height - 10px);
        
    }
    @media (min-width: 1024px) {
        flex: 1 1 23%;
        height: calc($card-height + 50px);
        transition: height 0.5s;
        overflow: hidden;
    }

    &--large {
        height: $card-height + 360px;
        width: 95%;
        max-width: 760px;
    }
    &__article {
        order: 2;
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            padding: 0 5px;
        }
    }

    &__image {
        width: 100%;
        max-width: 200px;
        object-fit: contain;

        max-height: calc($img-container-height - 110px);

        &-container {
            cursor: pointer;
            position: relative;
            order: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            border-bottom: 1px solid rgba(palette.$oxford-blue,0.4);
            height: calc($img-container-height - 100px);
            max-width: 100%;
            
        }
    }

    &__content{
        padding: 8px;
        order: 4;
        gap: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }

    &__heading {
        order: 4;
        font-size: 16px;
        
        // height: 56px;
        padding: 8px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 0 1 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        flex-direction: column;
        @media (min-width: 768px) {
            font-size: 18px;
            height: 40px;
        }
        @media (min-width: 1024px) {
            font-size: 20px;
            height: 46px;
        }
    }
    &__description {
        // $height: 150px;
        order: 6;
        font-size: 12px;
        flex: 1 1 95%;
        // height: height;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 0 4px;
        text-align: center;
        display: flex;
        align-items: center;
        line-height: 1.4;
        @media (min-width: 768px) {
            font-size: 14px;
            // height: calc($height + 6px);
        }
        @media (min-width: 1024px) {
            font-size: 16px;
            // height: calc($height + 14px);
        }

        &--large {
            height: 450px;
        }
    }
    
}