/* Coolors Exported Palette - https://coolors.co/acc8fe-5f7eed-4b5de1-00123a-47c23c-f93031-fecc26-d2a735-38a7c0-6189e6 */

:root {
    --baby-blue-eyes: #aec9fe;
    --blue-crayola: rgb(94, 125, 237);
    --united-nations-blue: hsla(222, 73%, 64%, 1);
    --ultramarine-blue: #4c5ee1;
    --pacific-blue: hsla(191, 55%, 49%, 1);
    --oxford-blue: hsla(221, 100%, 11%, 1);
    --dark-pastel-green: hsla(115, 53%, 50%, 1);
    --cinnabar: #f92f2f;
    --sunglow: #fecb25;
    --satin-sheen-gold: hsla(44, 64%, 52%, 1);
}

/* SCSS RGB */
$baby-blue-eyes: rgba(172, 200, 254, 1);
$blue-crayola: rgba(95, 126, 237, 1);
$ultramarine-blue: rgba(75, 93, 225, 1);
$oxford-blue: #00123a;
$dark-pastel-green: rgba(71, 194, 60, 1);
$cinnabar: rgba(249, 48, 49, 1);
$sunglow: rgba(254, 204, 38, 1);
$satin-sheen-gold: rgba(210, 167, 53, 1);
$pacific-blue: rgba(56, 167, 192, 1);
$united-nations-blue: rgba(97, 137, 230, 1);

/* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-right: linear-gradient(90deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-bottom: linear-gradient(180deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-left: linear-gradient(270deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-top-right: linear-gradient(45deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-bottom-right: linear-gradient(135deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-top-left: linear-gradient(225deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-bottom-left: linear-gradient(315deg, #acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);
// $gradient-radial: radial-gradient(#acc8feff, #5f7eedff, #4b5de1ff, #00123aff, #47c23cff, #f93031ff, #fecc26ff, #d2a735ff, #38a7c0ff, #6189e6ff);